#Redirect to https
RewriteEngine On
RewriteCond %{SERVER_PORT} !^443$
RewriteRule (.*) https://%{HTTP_HOST}/$1 [R=301,L]



DirectoryIndex index.php

# enable apache rewrite engine
RewriteEngine on

# set your rewrite base
# Edit this in your init method too if you script lives in a subfolder
RewriteBase /

# Deliver the folder or file directly if it exists on the server
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
 
# Push every request to index.php
RewriteRule ^(.*)$ redirect.php [QSA]


# Deny access to git files
<Files ".gitattributes">  
  Require all denied
</Files>

<Files "*.md">  
  Require all denied
</Files>

<Files ".git">  
  Require all denied
</Files>

<Files ".git*">  
  Require all denied
</Files>